  .card-button {
    background: $primary-purple2;
    min-height: 2rem;
    font-size: 1.75rem;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    font-weight: 400;
    min-width: 17.5rem;
    max-width: 80%;
    margin: auto;
    text-transform: uppercase;
  }