.gallery {
  position: relative;
  z-index: 0;
   &:before{
     content: '';
     position: absolute;
     background: $primary-purple2;
     max-width: 100%;
     margin: 0 auto;
     max-height: 3.75rem;
     border-radius: 10px 10px 0 0 !important;
     transform: translateZ(3rem);
   }
  &:after{
    content: '';
    position: absolute;
    background: $primary-purple2;
    width: 100%;
    height: 4.25rem;
    bottom: 0;
    border-radius: 0 0 10px 10px !important;
    transform: translateZ(3rem);
  }
  .gallery-img {
    min-height: 30rem;
    max-height: 30rem;
    max-width: 100%;
    margin: auto;
  }
}