.item-bar-holder {
  background: $bg-transparent-c;
  width: 80%;
  min-height: 10rem;
  margin: 2rem auto 0 auto;
  border-radius: 10px;
  padding: 1rem;
  .item-bar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    height: 12rem;
    width: 100%;
    padding: 0 .5rem;
    overflow-y: hidden !important;
    overflow-x: scroll !important;
    &::-webkit-scrollbar{
      height: .4rem;
      background: $gray-600;
    }
    //overflow-x: scroll;
    //overflow-y: hidden;
    &:hover > .item {
      opacity: 0.3;
    }
    &:hover > .item:hover {
      opacity: 1;
      transform: translateY(0.5rem) scale(1.1);
    }
    .item {
      //border: 1px solid wheat;
      width: 10rem;
      height: 10rem;
      text-align: center;
      font-size: 1rem;
      transition: 0.3s all;
      border-radius: 10px;
      overflow: hidden;
      //padding: 0.5rem;
      p {
        display: flex;
        align-items: center;
        border-radius: 10px;
        max-height: 7rem;
        width: 10rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
      }
      :nth-child(n) {
        margin: auto;
      }
      &:hover {
        background: $primary-purple2;
        p {
          height: 7rem;
          background: $surface;
          overflow: initial;
          overflow-y: auto;
          text-overflow: initial;
          white-space: initial;
          transform: translateY(-5.5rem);
          transition: 0.3s all;
          opacity: 0.9;
        }
      }
    }
  }

  .sale-item {
    max-width: 20rem;
    min-height: 20rem;
  }
  .sale-img {
    max-height: 10rem;
  }
}
