@import '../utility.scss';
.categories {
  overflow-y: scroll;
  max-height: 25rem;
  max-width: 10rem !important;

  &::-webkit-scrollbar-track {
    background: $dark;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66);
    transition: 0.5s;

    &:hover {
      background: $white;
      transition: 0.5s;
    }
  }
}