@import '../variables.scss';
.product-nav {
  //backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  gap: 1rem;
  font-family: $font-main;
  background: $bg-black;
  z-index: 4;
  transform: translateZ(4);
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 4rem;
  .product--nav-button {
    background: transparent;
    border: none;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    border: .2rem solid transparent;
    border-radius: 0.3rem;
    font-family: $font-main;
    text-transform: capitalize;
    cursor: pointer;
    transition: .3s all;
    color: $white;
    //text-shadow: 0px 0px 3px rgb(255, 255, 255);
    &:hover{
      transform: scale(1.03);
      padding: 1rem 1.5rem;
      border: .2rem solid $primary-purple;
    }
    &:focus {
      transform: scale(1.03);
      padding: 1rem 1.5rem;
      border: .2rem solid $primary-purple;
    }
  }
  button {
    transition: 0.2s;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 2.5rem auto 0 auto;
      width: 100px;
      height: 3px;
    }

    &:hover {
      transform: scale(1.1);
      box-shadow: 0rem 0.4rem 10px -5px $primary-purple;
      //box-shadow: 0 0 5px 2px white;
      //transition: .2s;
    }
  }

  &::-webkit-scrollbar-track {
    background: hsla(0, 0%, 0%, 0.486);
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66);
    transition: 0.5s;

    &:hover {
      background: $white;
      transition: 0.5s;
    }
  }
}
