@mixin login-inputs {
     input {
        padding: 1rem;
        font-size: 1.3rem;
        min-width: 60%;
        max-width: 30rem;
        margin: 0 auto 0 auto;
        background: $black;
        transition: .3s all;
        &:hover {
          box-shadow: 0 0 5px 2px $primary-purple;
        }

        &:-webkit-autofill {
          box-shadow: 0 0 0 100px rgb(0, 0, 0) inset;
          -webkit-box-shadow: 0 0 0 100px rgb(0, 0, 0) inset;
          /* Change the color to your own background color */
          -webkit-text-fill-color: rgb(255, 255, 255);
        }
      }
}
     
    