@import '../utility.scss';

.cart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: .5rem;
  font-family: $font-main;
  color: $light-purple;

  .cart-items {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    gap: 1.5rem;
    background: $bg-black;
    padding: .3rem;
    border-radius: .2rem;

    .cart-item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem;
      position: relative;
      background: $surface;
      padding: 2rem 1rem;
      width: 100%;
      border-radius: .2rem;
      margin: auto;

      .cart---item--img-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 70%;
        gap: 1rem;

        .cart-img {
          margin: auto 0;
          max-width: 10rem;
          max-height: 10rem;
        }

        .item-name {
          overflow: hidden;
          text-overflow: ellipsis;
          margin: auto 0;
          font-size: 1.35rem;
          max-width: 40rem;
        }
      }

      .cart---item--content-container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        text-align: center;
        margin: 0 0 0 auto;
        width: 20rem;
        .item-details {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: .35rem;
          margin: auto;

          :nth-child(n) {
            width: 7.5rem;
            margin: auto;
          }

          .item-prevPrice {
            padding: 0;
            margin: 0;
            text-decoration: line-through;
            color: gray;
          }

          >h5 {
            font-size: 1.25rem;
            color: $light-purple;
          }

          >h6 {
            font-size: 1rem;
            color: $gray-600;
          }
        }
      }
    }
  }
}