@import '../variables.scss';

.quantity-form {
  width: 5rem;
  height: 5rem;
  background: transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: $font-main;
  margin: auto;

  .quantity-select {
    display: flex;
    justify-content: center;
    background: $bg-black;
    width: 5rem;
    height: 5rem;
    border-radius: 7px;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-family: $font-main;
    margin: 0 auto .3rem auto;
    border: .1rem solid $white;
    transition: .3s all;

    &:focus {
      border: .1rem solid $primary-purple;
    }

    .quantity-option {
      background: $bg-black;
      font-family: $font-main;
    }

  }

  .quantity-change {
    display: block;
    width: 90%;
    background: $primary-purple2;
    font-size: 0.9rem;
    font-family: $font-main;
    color: $white;
    text-transform: uppercase;
    border: .1rem solid transparent;
    border-radius: 7px;
    outline: none;
    margin: auto;
    padding: .3rem;
    cursor: pointer;
    transition: .3s all;

    &:hover {
      border: .1rem solid $white;
    }
  }
}