@import "./variables.scss";
@import "./keyframes.scss";
@import "./mixins.scss";
.transform-z-3 {
  transform: translateZ(3px) !important;
}

.transform-z-4 {
  transform: translateZ(4px);
  z-index: 4;
}

.transform-z-0 {
  transform: translateZ(0);
}

.z-index-3 {
  z-index: 3 !important;
}

.z-index-1 {
  z-index: 1;
}

.transform-z-1 {
  transform: translateZ(1px);
}

.remove-all-padding {
  padding: 0 !important;
}

.min-rem {
  min-width: 20rem;
}

.nav-products {
  border-radius: 0 0 1vh 1vh;
}

.bg-black {
  background: $black;
}

.bg-transparent-custom {
  background: $bg-transparent-c;
}

.blur-bg {
  backdrop-filter: blur(5px);
}

.product-nav {
  backdrop-filter: blur(5px);
  overflow: auto;

  button {
    transition: 0.2s;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 2.5rem auto 0 auto;
      width: 100px;
      height: 3px;
    }

    &:hover {
      box-shadow: 0rem 0.4rem 10px -5px $red;
      //box-shadow: 0 0 5px 2px white;
      //transition: .2s;
    }
  }

  &::-webkit-scrollbar-track {
    background: hsla(0, 0%, 0%, 0.486);
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66);
    transition: 0.5s;

    &:hover {
      background: $white;
      transition: 0.5s;
    }
  }
}

.translate-z-0 {
  transform: translateZ(0);
}

.minmax-test {
  min-width: 10rem;
  min-height: 10rem;
}

.animate {
  animation: categories-slide 0.3s ease-in-out;
  animation-fill-mode: forwards;
  //transition: .5s;
}

.categories-section {
  min-height: 100rem !important;
  margin: -30rem 0 0 0;
  left: 50%;
}

.border-none {
  border: none;
}

.border-l5 {
  border-radius: 0.5vh 0 0 0.5vh;
}

.border-r5 {
  border-radius: 0 0.5vh 0.5vh 0;
}

.remove-all-decoration {
  text-decoration: none;
}

.min-vh-200 {
  min-height: 150rem !important;
  margin: -30rem 0 0 0;
}

.min-h-rem {
  min-height: 20rem;
}

.transition-5 {
  transition: 0.5s;
}

.flexb-30 {
  flex-basis: 30%;
}

.flexb-60 {
  flex-basis: 60%;
}

.flexb-70 {
  flex-basis: 70%;
}

.login-section {
  min-height: 40rem;
  position: relative;

  &::before {
    background: url("../images/undraw_two_factor_authentication_namy.svg")
      no-repeat;
    background-position: 50%;
    background-size: 105%;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
  }

  .login-switch {
    position: relative;
    transform: translateY(4rem);
    min-width: 280px;
    width: 50%;
    max-width: 30%;
  }

  .login-modal {
    backdrop-filter: blur(3px);
    background: $bg-transparent-c;
    //width: clamp(20rem, 40rem, 80%);
    //min-width: clamp(30%, 40rem, 60%);
    min-width: 80%;
    max-width: 50rem;
    min-height: 30rem;
    margin: 5rem auto 0 auto;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.459),
      5px 5px 15px 5px rgba(0, 0, 0, 0.459);
    border-radius: 1vh;

    .accounter-credentials {
    }

    input {
      padding: 1rem;
      font-size: 1.3rem;
      min-width: 40%;
      max-width: 30rem;
      margin: 0 auto 0 auto;

      &:hover {
        box-shadow: 0 0 5px 2px white;
      }

      &:-webkit-autofill {
        box-shadow: 0 0 0 50px rgb(0, 0, 0) inset;
        -webkit-box-shadow: 0 0 0 50px rgb(0, 0, 0) inset;
        /* Change the color to your own background color */
        -webkit-text-fill-color: rgb(255, 255, 255);
      }
    }
  }

  .action {
    transition: 0.2s ease;
    font-size: 1.2rem;

    &:hover {
      box-shadow: 0 0 5px 2px white;
      transition: 0.2s ease;
      z-index: 2;
    }
  }
}

#root {
  min-height: 32rem;
}

.rounded-left-side {
  border-radius: 10vh 0 0 10vh;
}

.rounded-right-side {
  border-radius: 0 10vh 10vh 0;
}

.categories-products {
  max-height: 27.5rem;
  overflow-y: scroll !important;
}

.cart {
  .cart-items {
    .cart-item {
      .cart-img {
        max-width: 10rem;
        max-height: 10rem;
      }
      .item-price {
        &::before {
          content: "Price:";
          position: absolute;
          top: 1.5rem;
          right: 4.5rem;
          bottom: 0;
          left: 0;
          font-size: 1.2rem;
          font-weight: 300;
          color: gray;
        }
      }
      .remove-item {
        font-size: 1rem;
      }
    }
  }
}

.checkout {
  .checkout-form {
    min-height: 20rem;
    min-width: 15rem;
    .checkout-submit {
    }
  }
}

.min-h-30 {
  min-height: 30rem;
}

.categories-button {
  min-height: 3rem;
  font-size: 1rem;
  min-width: 8rem;
  max-width: 8rem;
}

.categories {
  overflow-y: scroll;
  max-height: 25rem;
  max-width: 10rem;

  &::-webkit-scrollbar-track {
    background: $dark;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66);
    transition: 0.5s;

    &:hover {
      background: $white;
      transition: 0.5s;
    }
  }
}

.categories-wrapper {
  max-height: 10rem !important;
  margin: 60vh 0 0 0 !important;
}

@media screen and (max-width: 768px) {
  .categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap !important;
    min-width: 100% !important;
    max-height: 5rem !important;
    overflow-y: hidden !important;
    overflow-x: scroll !important;
  }

  .product-nav {
    flex-direction: column !important;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    max-height: 5rem;
  }
}
$bg-darkBlue: #10054d;
.newsletter {
  position: relative;
  border-radius: 15px;
  max-width: 80%;
  margin: 1rem auto;
  background: $bg-transparent-c;
  overflow: hidden;
  &::before {
    @include pseudo-el;
    background: url(../images/undraw_subscriber_re_om92.svg) no-repeat;
    background-position: left;
    background-position-x: -15rem;
    background-position-y: 2rem;
    background-size: 65rem;
    opacity: 0.6;
    z-index: 2;
  }
  &::after {
    @include pseudo-el;
    height: 100%;
    max-width: 20%;
    width: 20rem;
    background: $red;
    margin: 0 0 0 auto;
  }
  .newsletter-section {
    position: relative;
    //margin: 0 auto 0 0;
    margin: auto;
    min-height: 35rem;
    &::before {
      @include pseudo-el;
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      margin-top: 20rem;
      margin-left: 41vw;
      z-index: 1;
      background: $bg-transparent-c;
    }
    &::after {
      @include pseudo-el;
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      margin-top: -3rem;
      margin-left: 36vw;
      z-index: 1;
      background: $bg-transparent-c;
    }
    .newsletter-text {
      min-width: 8rem;
      text-shadow: 0px 0px 5px rgb(0, 0, 0);
      z-index: 5;
    }
    .newsletter-input-wrapper {
      position: relative;
      border: none;
      box-shadow: 0px 0px 10px 5px $bg-transparent-c;
      &::before {
        @include pseudo-el;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 10px 2px $bg-transparent-c;
        border: none;
        border-radius: 5px;
        z-index: -1;
      }
      .newsletter-input {
        min-width: 12rem;
        z-index: 5;
      }

      .newsletter-submit {
        min-width: 4rem;
        z-index: 5;
      }
    }
  }
}

img {
  width: 100%;
}

@media screen and (max-height: 800px) {
  .categories-top {
    top: 40%;
  }
}

@media screen and (max-height: 620px) {
  .categories-top {
    top: 60%;
  }
}
.footer-emblem {
  background: $bg-transparent-c;
  min-height: 10rem;
  min-width: 250px;
  .footer-logo {
    max-width: 7.5rem;
    max-height: 7.5rem;
    opacity: 0.9;
  }
  .footer-logo-text {
    font-size: 3rem;
    background: $gradient-red;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
.dupa {
  font: 100;
}
.du2d {
  display: block;
}

.footer-anchor {
  background: linear-gradient(
    to right,
    $blue-700,
    $blue-700 50%,
    rgb(104, 104, 104) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none; // text decorations are clipped in WebKit browsers\\
  color: royalblue;
  &:hover {
    background-position: 0 0%;
  }
}

.prodNav-btn {
  font-weight: 300;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
@keyframes redGradient-left-right {
  0% {
    background: $gradient-white;
  }
  100% {
    background: $gradient-red;
  }
}
