@import './variables';
.transform-z-3 {
  transform: translateZ(3px) !important;
}
.transform-z-4 {
  transform: translateZ(4px);
  z-index: 4;
}
.transform-z-0 {
  transform: translateZ(0);
}
.z-index-3 {
  z-index: 3 !important;
}
.z-index-1 {
  z-index: 1;
}
.transform-z-1 {
  transform: translateZ(1px);
}
.remove-all-padding {
  padding: 0 !important;
}
.min-rem {
  min-width: 20rem;
}
.nav-products {
  border-radius: 0 0 1vh 1vh;
}
.bg-black {
  background: $black;
}
.bg-transparent-custom {
  background: $bg-transparent-c;
}
.blur-bg {
  backdrop-filter: blur(5px);
}
.product-nav {
  backdrop-filter: blur(5px);
  overflow: auto;
  &::-webkit-scrollbar-track {
    background: hsla(0, 0%, 0%, 0.486);
    
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66);
    transition: 0.5s;
    &:hover {
      background: $white;
      transition: 0.5s;
    }
  }
}
.min-vh-200 {
  min-height: 250rem !important;
  margin: -30rem 0 0 0;
}
.min-h-rem {
  min-height: 20rem;
}
.transition-5 {
  transition: 0.5s;
}
.flexb-30{
  flex-basis: 30%;
}
.flexb-70{
  flex-basis: 70%;
}
.login-modal {
  width: clamp(20rem, 40rem, 80%);
  //min-width: clamp(30%, 40rem, 60%);
  max-width: 50rem;
  margin: 5rem auto 0 auto;
  input {
    padding: 1rem;
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 50px rgb(0, 0, 0) inset; /* Change the color to your own background color */
      -webkit-text-fill-color: rgb(255, 255, 255);
    }
  }
}
.categories-top{

}
.rounded-left-side {
  border-radius: 10vh 0 0 10vh;
}
.rounded-right-side {
  border-radius: 0 10vh 10vh 0;
}
.categories-products {
  min-height: 20rem;
  overflow-y: scroll !important;
}
.categories-button {
  min-height: 3rem;
  font-size: 1rem;
  min-width: 8rem;
  max-width: 8rem;
}
.categories {
  overflow-y: scroll;
  max-height: 25rem;
  max-width: 10rem;

  &::-webkit-scrollbar-track {
    background: $dark;
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66);
    transition: 0.5s;
    &:hover {
      background: $white;
      transition: 0.5s;
    }
  }
}
.categories-wrapper {
  max-height: 10rem !important;
  margin: 60vh 0 0 0 !important;
}
@media screen and (max-width: 768px) {
  .categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap !important;
    min-width: 100% !important;
    max-height: 5rem !important;
    overflow-y: hidden !important;
    overflow-x: scroll !important;
  }
  .product-nav {
    flex-direction: column !important;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    max-height: 5rem;
  }
}

@media screen and (max-height: 700px) {
  .categories {
  }
  .categories-top{
    top: 50%;
  }
}
@media screen and (max-height: 550px){
  .categories-top{
    top: 80%;
  }
}