html{
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  scrollbar-color: $primary-purple2 $surface;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  background: $surface;
  width: .85rem;
  height: .5rem;
}

::-webkit-scrollbar-thumb {
  background: $primary-purple2;
  border-radius: .5vh;
}
::-webkit-scrollbar-thumb:hover{
  //background: $gradient-purple;
  background: $primary-dark-purple;
  transition: .3s all;
}
img{
  width: 100%;
}