html{
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  scrollbar-color: $red $dark;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  background: $dark;
  width: 0.45rem;
}

::-webkit-scrollbar-thumb {
  background: $red;
  border-radius: 15vh;
}
