html{
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  scrollbar-color: $primary-purple2 $surface;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  background: $surface;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: $primary-purple2;
  border-radius: 1vh;
}
