@keyframes categories-slide1 {
    0%{
    transform: translateY(-75rem) translateX(-50%);
    width: 0%;
    }
    100%{
    transform: translateY(0) translateX(-50%);
    width: 100%;
    }
}

@keyframes categories-slide {
    0%{
    transform: translateY(-75rem) translateX(-50%);
    }

    100%{
    transform: translateY(0) translateX(-50%);
    }
}
@keyframes scale-down {
     0%{
        transform: scaleX(0.8);
    }
    100%{
        transform: scaleX(1);
    }
   
   
}