@import "../../../../../node_modules/bootstrap/scss/bootstrap.scss";
@import '../../../../../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import './custom.scss';
.hide-element{
   transform: translateY(-100rem) translateX(-50%);
   left: 50%;
   width: 75%;
   transition: .5s;
}
.gallery{
    .gallery-img{
        width: 100%;
    max-width: 30rem;
    margin: 10rem auto 0 auto;
    }
}

