@import './utility.scss';
@import './cart/all.scss';
@import './newsletter/all.scss';
@import './categories/all.scss';
@import './home/all.scss';
@import './nav/all.scss';
@import './login/all.scss';
@import './footer/all.scss';
@import './sale/all.scss';
@import "./mediaQueries.scss";
@import "./custom.scss";
@import "./global.scss";
@import "./variables.scss";
@import "./keyframes.scss";
@import "./override.scss";

@font-face {
    font-family: readex;
    src: url(../fonts/ReadexPro-Regular.ttf) format('truetype');
}

.hide-element {
  //transform: translateY(-75rem) translateX(-50%);
  //transform: translateX(-10rem);
  transform: translateY(-75rem);
  width: 100%;
  //transition: .5s;
}




