


@media screen and (max-width: 520px){
  .categories-main{
    flex-direction: column;
    .categories--main-container{
      flex-direction: row;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-content {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    .card {
      width: 80%;
    }
  }
}
