@media screen and (max-height: 800px) {
  .categories-top {
    top: 40%;
  }
}

@media screen and (max-height: 620px) {
  .categories-top {
    top: 60%;
  }
}
@media screen and (max-width: 768px) {
  .categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap !important;
    min-width: 100% !important;
    max-height: 5rem !important;
    overflow-y: hidden !important;
    overflow-x: scroll !important;
  }

  .product-nav {
    flex-direction: column !important;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    max-height: 5rem;
  }
}
@media screen and (max-width: 1024px) {
  .main-content {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    .card {
      width: 80%;
    }
  }
}
