


@media screen and (max-width: 960px){
  .categories-main{
    flex-direction: column;
    .categories--main-container{
      flex-direction: row;
      justify-content: left;
    }
    #rootSubcategories{
      min-width: 100%;
      margin: 0 auto;
    }
  }
  .main-nav{
    flex-direction: column;
    .main--nav-user{
      justify-content: center;
    }

  }
  .footer-emblem{
    flex-wrap: wrap;
  }
  .footer-logo-text{
    margin: 0rem 0 6rem 0;
  }
}

@media screen and (max-width: 1024px) {
  .main-content {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    .card {
      width: 80%;
    }
  }
}
@media screen and (max-width: 1440px){
  .gallery{
    min-height: 20rem;
    .gallery-img{
      max-height: 10rem;
    }
  }
}
 @media screen and (max-height: 680px) and (max-width: 960px){
   .categories-main{
     margin: -5rem auto 0 auto;
   }
  .main--nav-name{
    margin: 0 auto;
  }
 }