@mixin pseudo-el {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
//Adds additional top,right,bottom,left properties (useful with pseudo el mixin)
@mixin add-trbl {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@mixin default-button{
  background: transparent;
  border: none;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  text-transform: capitalize;
  cursor: pointer;
}
@mixin anim-shadow-inset-center($shColor) {
  @keyframes shadow-inset-center {
    0% {
      box-shadow: inset 0 0 0 0 $shColor;
    }
    100% {
      box-shadow: inset 0 0 14px 0px $shColor ;
    }
  }
}
