$bg-transparent-c: hsla(0, 0%, 0%, 0.486);
$bg-black: black;
$bg-darkBlue: #10054d;
$gradient-red: linear-gradient(220deg, rgba(255,255,255,1) 0%, rgba(255,117,117,1) 94%, rgba(255,86,86,1) 100%);
$gradient-white: linear-gradient(90deg, rgba(255,255,255,1) 100%, rgba(255,117,117,0) 100%);


$primary-purple: $purple-300;
$primary-purple2: #3700B3;
$surface: #121212;


$font-main: 'readex';