$bg-transparent-c: hsla(0, 0%, 0%, 0.486);
$bg-black: black;
$bg-darkBlue: #10054d;
$gradient-red: linear-gradient(220deg, rgba(255,255,255,1) 0%, rgba(255,117,117,1) 94%, rgba(255,86,86,1) 100%);
$gradient-white: linear-gradient(90deg, rgba(255,255,255,1) 100%, rgba(255,117,117,0) 100%);
$gradient-purple: radial-gradient(circle, rgba(199,174,238,1) 0%, rgba(128,33,230,1) 100%);

$primary-dark-purple: rgba(54, 0, 179, 0.795);
$primary-purple: $purple-300;
$primary-purple2: hsl(258, 100%, 35%);
$surface: hsl(0, 0%, 7%);


$font-main: 'readex';