@import '../utility.scss';
.newsletter {
  position: relative;
  border-radius: 15px;
  max-width: 80%;
  margin: 1rem auto;
  background: $bg-black;
  overflow: hidden;
  font-family: $font-main;
  &::before {
    @include pseudo-el;
    background: url(../images/undraw_subscriber_re_om92.svg) no-repeat;
    background-position: left;
    background-position-x: -15rem;
    background-position-y: 2rem;
    background-size: 65rem;
    opacity: 0.6;
    z-index: 2;
  }
  &::after {
    @include pseudo-el;
    height: 100%;
    max-width: 20%;
    width: 20rem;
    background: $red;
    margin: 0 0 0 auto;
  }
}